@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .h1 {
    @apply mb-2 mt-4 text-3xl font-bold;
  }
  .h2 {
    @apply mb-2 mt-4 text-2xl font-semibold;
  }
  .h3 {
    @apply mb-2 mt-4 pl-4 text-xl font-medium;
  }
  .h4 {
    @apply mb-2 mt-4 pl-6 text-lg;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}
h1,
h2,
p {
  padding: 0;
  margin: 0;
}

table,
tr,
td,
th {
  border: 1px solid;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* TYPWRITER ANIMATION */
.typewriter {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation:
    typing 3.5s steps(23),
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.line-container {
  counter-reset: line;
}
.line-container p.line::before,
.line-container div.line::before {
  color: gray;
  content: counter(line);
  counter-increment: line;
  margin-right: 1rem;
}

/* FORM INPUT */
.input {
  @apply h-12 w-full  bg-articleBg p-2  text-xl focus:border-accentColor focus:outline-none focus:ring-1 focus:ring-accentColor;
}

/* BLOB ANIMATION */
.box {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 250px;
  width: 250px;

  animation: animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

.blog_item_desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.expand {
  height: auto;
}

.collapse {
  height: 0;
}

.desc_limit {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
